Source: mrfioc2
Section: devel
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 9.20141010), dpkg-dev (>= 1.17.14),
               epics-debhelper (>= 6~), epics-dev (>= 3.14.11-2),
               epics-devlib2-dev (>= 2.8), epics-msi,
               rtems-devlib2-mvme2100 (>=2.8) <pkg.epics-base.rtems>,
               rtems-devlib2-mvme2307 (>=2.8) <pkg.epics-base.rtems>,
               rtems-devlib2-mvme3100 (>=2.8) <pkg.epics-base.rtems>,
               rtems-devlib2-mvme5500 (>=2.8) <pkg.epics-base.rtems>,
               dkms,
XS-Rtems-Build-Depends: rtems-epics, rtems-devlib2 (>=2.8)
X-Epics-Targets: .*
Standards-Version: 4.3.0
Vcs-Git: https://github.com/epicsdeb/mrfioc2.git
Vcs-Browser: https://github.com/epicsdeb/mrfioc2
Homepage: http://epics.sf.net/mrfioc2

Package: libmrfioc2.8
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package provides shared libraries

Package: epics-mrfioc2-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libmrfioc2.8 (= ${binary:Version}),
         epics-devlib2-dev,
Suggests: mrf-dkms
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package provides files needed to build an
 IOC with the iocStats support.

Package: mrf-dkms
Architecture: all
Depends: ${misc:Depends},
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package builds a Linux kernel module for some PCI/PCIe
 MRF cards.

Package: rtems-mrfioc2-mvme2100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-mrfioc2-dev (>= ${binary:Version}),
         epics-mrfioc2-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package contains support for the MVME2100 PowerPC based VME SBC.

Package: rtems-mrfioc2-mvme2307
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-mrfioc2-dev (>= ${binary:Version}),
         epics-mrfioc2-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package contains support for the MVME2307 PowerPC based VME SBC.

Package: rtems-mrfioc2-mvme3100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-mrfioc2-dev (>= ${binary:Version}),
         epics-mrfioc2-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.

Package: rtems-mrfioc2-mvme5500
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-mrfioc2-dev (>= ${binary:Version}),
         epics-mrfioc2-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: EPICS Driver for MRF timing cards
 EPICS Driver for Micro Research Finland
 event timing system cards.
 .
 This package contains support for the MVME5500 PowerPC based VME SBC.
